@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400 ;
    font-style: normal;
  }
  * {
    margin:0; 
    padding:0;
  }

  body{
    max-width: 1440px;
  }

  /* Nav style */
  .status-bar{i
    padding: 20px 140px;
    display: flex;
    justify-content: space-around;
  }

  .nav-icon{
    display: flex;
    gap: 11px;
  }

  .nav-content{
    display: flex;
    gap: 32px;
    padding: 16px;
  }
  .nav-content-title3{
    color: #05D4DF;
  }
  .nav-content-title4{
    color: #5D58EF;
  }


  /* Shared styles */
  .btn-primary{
    font-weight: 600px;
    font-size: 20px;
    padding: 10px 60px;
    margin: 6px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: #FEA301;
  }
  .orange-color{
    color: #FEA301;
  }
  .blues-color{
    color: #01ACFD;
  }


  /* Banner styles */
  .banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 140px;
  }
  .banner-title{
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    padding: 130px 0;
  }
#black-color{
  background-color: #111111;
}
  